/* #region Body */

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */

/* #region Header */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.container-logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 115px;
    height: 24px;
}

.container-nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    padding: 24px 832px 24px 347px;
    width: 261px;
    height: 24px;
}

.header-page {
    border-bottom: 1px solid #e7e9fc;
}

.header-nav-page {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
}

.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px
}

.logo-style {
    color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-item {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.header-nav-item-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-nav-item-link:hover,
.header-nav-item-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-address-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

/* #endregion */

/* #region Hero */

.hero {
    background-color: #2e2f42;
    color: #ffffff;
    padding: 188px 0;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: auto;
    margin-bottom: 8px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* #endregion*/

/* #region Services */

.services {
    padding: 120px 0;
    margin-bottom: 8px;
}

.services-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.services-title {
    display: flex;
    align-items: center;
    gap: 24px
}

.services-title-list {
    width: calc((100% - 72px) / 4);
}

.services-main-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.services-main-title-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion*/

/* #region Team */

.team {
    background-color: #f4f4fd;
    padding: 120px 0 120px 0;
}

.team-style-main {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.team-main-item {
    text-align: center;
    padding: 32px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-title-main {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 8px;
}

.team-title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-title-item-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* #endregion*/

/* #region Portfolio */

.portfolio {
    padding: 120px;
    padding: 120px 0 120px 0;
}

.portfolio-style {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-style-title {
    background-color: #ffffff;
    width: calc((100% - 48px) / 3);
}

.portfolio-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-wrap-main-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-main-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-title-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-main-title-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
    display: block;
    max-width: 264px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-style {
    color: #f4f4fd;
}

/* #endregion*/